/Board.class
/BoardView.class
/Color.class
/Combination.class
/MasterMind.class
/MasterMindView.class
/Play.class
/Player.class
/PlayerView.class
/Result.class
/ConsoleMasterMind.class
/GraphicsMasterMind.class
